/* Girl.module.css */
.girlContainer {
	background-color: var(--primary);
	height: 200vh;
	position: relative;
	display: grid;
	align-items: stretch;
	justify-content: stretch;
	grid-template-columns: 60px 1fr 60px;
}

.itemSide {
	background-color: var(--dark);
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200vh;
	/* gridの子要素として高さを維持 */
}

.square {
	background-color: var(--bg-light);
	opacity: 0.6;
	height: 30px;
	width: 42px;
	margin: 20px 0;
	border-radius: 10%;
}

.itemCenter {
	background-color: var(--primary);
	position: relative;
}

.stickyWrapper {
	position: sticky;
	top: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	/* 垂直方向の中央 */
	justify-content: center;
	/* 水平方向の中央 */
	overflow: hidden;
	pointer-events: none;
	/* 必要に応じて、下の要素を触れるようにする */
}

.girlImage {
	margin-top: 10px;
	width: 60vh;
	height: auto;
}