.aboutContainer {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
	position: sticky;
	top: 0;
	overflow: hidden;
}

.aboutContainer > *:not(.description) {
	flex-shrink: 0;
}

.aboutContainer[data-state="open"] .description {
	pointer-events: auto;
}

.tickerContainer {
	width: 100vw;
	height: 12rem;
	overflow: visible;
	display: flex;
	align-items: center;
	z-index: 30;
}

.tickerWrapper {
	display: flex;
	white-space: nowrap;
	width: max-content;
	will-change: transform;
}

.text {
	font-family: var(--main-font-set);
	font-weight: var(--main-weight);
	font-size: 12rem;
	line-height: 1;
	margin: 0;
	white-space: nowrap;
	opacity: 0.8;
	color: white;
	-webkit-text-stroke: 4px black;
}

.description {
	position: absolute;
	width: 65%;
	z-index: 20;
	color: white;
}

.techstack {
	font-weight: bold;
	font-size: 1.5rem;
}

.highlight {
	font-weight: bold;
	display: block;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

.stackInfo {
	font-size: 1.2rem;
	margin-top: 0.8rem;
	padding-left: 1.5rem;
	line-height: 1.8rem;
	border-left: 4px solid currentColor;
}

.background {
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #69605e;
	z-index: 1;
	overflow: hidden;
	transform-origin: center center;
}

.background img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
