/* Header.module.css */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: var(--primary);
	color: var(--dark);
	border-bottom: solid;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 0.8em 2rem;
	align-items: center;
	justify-content: space-between;
}

.logo {
	background: none;
	border: none;
	padding: 0;
	font-family: var(--main-font-set);
	font-weight: var(--main-weight);
	line-height: inherit;
	color: var(--dark);
	text-align: left;
	appearance: none;
	font-size: 1.8rem;
	cursor: pointer;
	transition: opacity 0.3s;
}

.logo:hover {
	opacity: 0.7;
}

.nav {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.navButton {
	background: none;
	border: none;
	color: var(--dark);
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	padding: 0.5rem 0;
	position: relative;
	transition: color 0.3s;
}

.active::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--dark);
}

.navButton:hover {
	opacity: 0.6;
}
