.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-sub);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;

    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    will-change: transform;

    &.active {
        transform: translateY(-100%);

        .text {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .text {
        /* 文字のアニメーション設定 */
        transition:
            opacity 0.4s ease-out,
            transform 0.4s ease-out;
        opacity: 1;
        font-size: 30px;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        gap: 3px;
        font-style: italic;
    }
}