:root {
	/* メインのオレンジ */
	--primary: #ee8b4d;

	/* 文字や背景に使うダークカラー */
	--dark: #25201f;

	/*濃いグレー */
	--dark-gray: #69605e;

	/* 薄いグレー */
	--light-gray: #d2d0ce;

	/* ベージュ（サブ背景） */
	--bg-sub: #e8d9cd;

	/* オフホワイト */
	--bg-light: #fffefc;

	/* レッド（アクセント）*/
	--accent: #c41d3a;

	--main-font-set: "bungee", sans-serif;
	--main-weight: 400;

	--title-font-set: "Inter-Bold", Helvetica, Arial, sans-serif;
	--title-weight: 700;

	--reqular-font: "Inter-Regular", Helvetica, Arial, sans-serif;
	--reqular-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
